registry=https://registry.npmjs.org/
@awvinf:registry=https://nexus001.ntb.ch/repository/awv-npm-public-group/
//nexus001.ntb.ch/repository/awv-npm-public-group/:_authToken=NpmToken.876776a7-6bb6-30eb-b3f1-ae084b36f4c3
